<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="resourceComponent" class="com.mango.mif.core.impl.DefaultResourceComponent">
    	<property name="workspaceManager" ref="workspaceManager"/>
    </bean>
    
    <bean id="workspaceManager" class="com.mango.mif.core.impl.DefaultWorkspaceManager">
    	<constructor-arg>
    		<bean class="com.mango.mif.connector.TestsHelper" factory-method="createTmpDirectory">
    			<constructor-arg value="TmpResourceDirectory"></constructor-arg>
    		</bean>
    	</constructor-arg>
    </bean>
    
    
</beans>