<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="taskExecutor"
        class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="3" />
        <property name="maxPoolSize" value="5" />
        <property name="queueCapacity" value="25" />
    </bean>

    <bean id="newTaskExecutor"
        class="org.springframework.scheduling.concurrent.ConcurrentTaskExecutor">
        <constructor-arg>
            <bean class="java.util.concurrent.ThreadPoolExecutor">
            <constructor-arg index="0" value="3" />
            <constructor-arg index="1" value="5" />
            <constructor-arg index="2" value="10" />
            <constructor-arg index="3"><value>#{T(java.util.concurrent.TimeUnit).SECONDS}</value></constructor-arg>
            <constructor-arg index="4">
                <bean class="java.util.concurrent.ArrayBlockingQueue">
                <constructor-arg value="25"/>
            </bean></constructor-arg>
            </bean>
        </constructor-arg>
    </bean>
    


</beans>