<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="eu.ddmore.mdl.converter.mdl2pharmml.ui.internal.ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
    <extension
          point="org.eclipse.ui.exportWizards">
       <wizard
             category="eu.ddmore.mdl.ui.exportwiz.ddmore"
             class="eu.ddmore.mdl.ui.wizard.PharmMLExportWizard"
             id="eu.ddmore.mdl.ui.wizard.export.pharmml"
             name="PharmML Export">
       </wizard>
       <category
             id="eu.ddmore.mdl.ui.exportwiz.ddmore"
             name="DDMoRe">
       </category>
    </extension>
</plugin>
